@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

#grid {
  height: 400px;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
}
